[submodule "poky"]
	path = repos/poky
	url = git://github.com/madisongh/poky
	branch = rocko
[submodule "meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = rocko
[submodule "repos/meta-tegra"]
	path = repos/meta-tegra
	url = https://github.com/madisongh/meta-tegra
	branch = wip-rocko-l4t-r28.2
[submodule "repos/meta-freescale"]
	path = repos/meta-freescale
	url = https://github.com/madisongh/meta-freescale
	branch = rocko
