[submodule "poky"]
	path = repos/poky
	url = git://github.com/madisongh/poky
	branch = jethro
[submodule "meta-openembedded"]
	path = repos/meta-openembedded
	url = git://git.openembedded.org/meta-openembedded
	branch = jethro
[submodule "repos/meta-fsl-arm"]
	path = repos/meta-fsl-arm
	url = git://git.yoctoproject.org/meta-fsl-arm
	branch = jethro
